.breadcrumb {

  margin: 15px 0;
  direction: rtl;
  margin-right: 30px;
}
.breadcrumb link{
      font-size:1rem;
  /* font-weight: 800; */
}

.breadcrumb a {
  color: #0070f3;
  text-decoration: none;
  margin: 0 3px;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .sep {
  margin: 0 5px;
  color: #666;
}

.breadcrumb .current {
  font-weight: bold;
  color: #222;
}