.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* margin: 80px 0 20px; */
    margin-top: 5px;
    border-radius: 10px;
    background-color: #ecedf3;
    color: #737373;
    flex-shrink: 0;
}
.desc {
    width: 70%;
    text-align: justify;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.desc h3 {
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.desc p{
    font-size: 0.8rem;
}
.leftSec{
    font-size: 0.8rem;
    direction: ltr;
    align-items: first baseline;
    margin-left: 5px;
}

@media (max-width: 768px) {
   .desc h3 {
    font-size: x-small;
   }
    .desc  p{
    font-size: x-small;
   }
   .footer ul li{
    font-size: x-small;
   }
   .leftSec{
    font-size: x-small
}
}
