.projectsContainer {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  direction: rtl;
}

.projectSections {
  display: flex;
  flex-direction: row;
  gap: 40px; /* فاصله بین ستون‌ها */
  justify-content: flex-start;
  flex-wrap: wrap; /* اگر فضای کافی نبود به خط بعد برود */
  direction: rtl;
}

.sectionColumn {
  display: flex;
  flex-direction: column;
  min-width: 200px; /* حداقل عرض ستون */
  direction: rtl;
}

/* متن عنوان‌ها */
.projectP {
  color: black;
  margin: 0 0 15px 0;
  font-size: 1.3rem;
  font-weight: 600;
  white-space: nowrap;
}

/* آیتم‌های لینک */
.divLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
  font-size: 1.1rem;
  width: 100%;
  /* line-height: 100px; */
  direction: rtl;
}

/* نقطه‌ی ◾ */
.divLink p {
  margin: 0;
  font-size: 1.2rem;
  min-width: 20px;
  /* text-align: center; */
  flex-shrink: 0;
}

.projectLink {
  text-decoration: none;
  color: #12115d;
  flex-grow: 1;
}

.projectLink:hover {
  text-decoration: underline;
}

.ProjectImage {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}