.classH2{
  font-family: 'B Nazanin';
  margin-top: 10px;
  margin-right: 40px;
  max-height: 15px;
}
.balanceDiv{
  margin-top: 0px;
   font-family:'B Nazanin';
   font-size: large;
  display: flex;
  flex-wrap: wrap;        /* اجازه رفتن به خط بعد */
   gap: 8px 10px;              /* فاصله بین آیتم‌ها */
  justify-content:center; 
}
 .imgBorder {
  border-radius: 50%;
  /* border: 8px solid #0c388d; */
}
.service{
   width: 120px;
  height: auto;
   font-family:'B Nazanin';
  font-size: 1rem;
  display: flex;
  flex-direction: column; /* چینش عمودی */
  align-items: center;    /* وسط‌چین افقی */
 /* width: 220px;  */
  margin-top: 20px;

  transition: opacity 0.3s ease;
  cursor: pointer;

}
.aboutLink{
   /* white-space: nowrap; */
  font-family:'B Nazanin';
  background-color: none;
  color: #000;
  margin-top: 10px; /* فاصله از عکس */
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
@media (max-width: 768px) {
     .balanceDiv{
        margin-top: 0px;
  display: flex;
  flex-wrap: wrap; 
  justify-content:center; 
   gap: 20px 15px; 
}
  .service {
    width: 80px;
    text-align: center;
    /* justify-content: center; */
  }
  .service img{
    width: 80px;
    height: 80px;
  }
  .service button{
    font-size: 1rem;
  }
  .imgBorder {
  border: 4px solid #9fa2a9;
}
}