.classH2{
  font-family: 'B Nazanin';
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 40px;
  max-height: 15px;
}
.balanceDiv{
  margin-top: 0px;
  padding-top: 40px;
   font-family:'B Nazanin';
   font-size: large;
  display: flex;
  flex-wrap: wrap;        /* اجازه رفتن به خط بعد */
   gap: 8px 10px;              /* فاصله بین آیتم‌ها */
  justify-content:center; 
}
 .imgBorder {
  border-radius: 50%;
  border: 6px solid #0c388d;
}
.service {
  position: relative;
  width: 120px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceImg {
  transition: transform 0.3s ease;
}
.overlayText {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background:#0c388d;
  color: #fff;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* کلیک از خود لینک می‌گذره */
}
.service:hover .overlayText,
.service:active .overlayText,
.service:focus .overlayText {
  opacity: 1;
}

.service:hover .serviceImg,
.service:active .serviceImg,
.service:focus .serviceImg {
  transform: scale(1.15);
}

.aboutLink{
   /* white-space: nowrap; */
  font-family:'B Nazanin';
  background-color: none;
  color: #000;
  margin-top: 10px; /* فاصله از عکس */
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
@media (max-width: 768px) {
     .balanceDiv{
        margin-top: 0px;
  display: flex;
  flex-wrap: wrap; 
  justify-content:center; 
   gap: 20px 15px; 
}
  .service {
    width: 80px;
  }
  .service img{
    width: 60px;
    height: 60px;
  }

  .overlayText {
    font-size: 0.75rem;
    padding: 3px 8px;
  }
  .service button{
    font-size: 1rem;
  }
  .imgBorder {
  border: 4px solid #9fa2a9;
} .service:hover img {
  border-color:  #0c388d;
    transform: scale(1.15);
  }

  .service:hover .aboutLink {
    display: block;
    margin-top: 6px;
  }
   .service:focus-within img {
    transform: scale(1.15);
  }

  .service:focus-within .aboutLink {
    display: block;
  }
}